@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-inter: "Inter", sans-serif;
}

@layer base {
  *, *::before, *::after {
    font-family: var(--font-inter);
  }
}

.instagram-media,
.instagram-media iframe {
  max-width: 280px !important;
  width: 280px !important;
  min-width: unset !important;
}


.twitter-tweet,
.twitter-tweet iframe {
  max-width: 280px !important;
  width: 280px !important;
  min-width: unset !important;
}


.reddit-embed-bq,
.reddit-embed-bq iframe {
  max-width: 280px !important;
  width: 280px !important;
  min-width: unset !important;
}
